<eui-page>
    <eui-page-header label="{{ 'page.home.title' | translate }}"></eui-page-header>

    <eui-page-content>
        <ecl-form-group label="Label"
                        required=true
                        optional-text="(optional)"
                        helper-text="This is the input helper text"
                        invalid=false
                        disabled=false
                        invalid-text="This is an error message"
                        theme="ec">
            <div class="ecl-u-d-flex"
                 style="align-items: baseline">
                <ecl-input #sectionEclInput
                           type="text"
                           theme="ec"
                           input-id="input-id"
                           default-value=""
                           placeholder="Section name.."
                           name="input-name"
                           default-value=""
                           value="">

                </ecl-input>

                <ecl-button type="primary"
                            data-ecl-button-icon
                            theme="ec"
                            class="ecl-u-d-block ecl-u-mb-m"
                            (click)="onAddSection(sectionEclInput)">
                    Add section
                    <ecl-icon slot="icon-after"
                              icon="plus"
                              theme="ec"
                              transform="">
                    </ecl-icon>
                </ecl-button>
            </div>
        </ecl-form-group>

        <ecl-accordion theme="ec"
                       with-utils
                       ecl-script>
            <ecl-accordion-item *ngFor="let item of accordionItems"
                                [attr.id]="item.id"
                                [attr.label]="item.label"
                                theme="ec">
                {{ item.content }}
            </ecl-accordion-item>
        </ecl-accordion>
    </eui-page-content>
</eui-page>