<eui-page>
    <eui-page-header label="{{ 'page.home.title' | translate }}"></eui-page-header>

    <eui-page-content>
        <ecl-button
            type="secondary"
            data-ecl-button-icon
            theme="ec">
            Button
        </ecl-button>

        <ecl-icon 
            icon="close"
            color="default"
            size="2xl"
            transform=""
            theme="ec">
        </ecl-icon>

        <ecl-blockquote
            author="President Juncker"
            theme="ec"
            image=""
            image-alt="Image alternative text">
            An interconnected grid will help deliver the ultimate goal of the Energy Union, 
            to make sure affordable, secure and sustainable energy, and also growth across the EU.
        </ecl-blockquote>

        <ecl-expandable
            theme="ec"
            id="expandable-example"
            label-collapsed="Expand"
            label-expanded="Collapse"
            with-utils
            ecl-script>
            <p class="ecl-u-type-paragraph-m">
                The EU is building an energy union that ensures Europe’s energy supply is safe,
                viable and accessible to all. In doing so, it can boost the economy and attract investments that can create new jobs
                opportunities.
            </p>
        </ecl-expandable>

        <ecl-message
            message-title="Information message"
            theme="ec"
            variant="information"
            close-label="Close"
            ecl-script>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan semper lorem, ac mollis lacus tincidunt eu. Duis scelerisque diam eu tempus fringilla.
        </ecl-message>
    </eui-page-content>
</eui-page>
